#bontop{
    background-color: blue;
    text-align: center;
}
#bontop>a{
    text-decoration: none;
    color: white;
}
#footmain{
    background-color: lightseagreen;
}
#footmain>table{
    margin: auto;
    color: white;
    /* margin-top: 25px; */
    /* position: absolute; */
}
#footmain th,td{
    padding-left: 30px;
}
#footmain th{
    font-size: 30px;
}
#footmain td{
   text-align: center;
   line-height: 40px;
}
#footmain img{
  width: 100px;
  margin-left: 530px;
  margin-top: 50px;
  height: 50px;
}

#footmain button {
    margin-left: 120px;
    margin-top: 48px;
    position: absolute;
}
#footmain>p{
    width: 65%;
    margin: auto;

}
#footmain>p>span{
    color: white;
    margin-left: 10px;
}

